body {
    background-color: rgb(185, 223, 130);
}

.tvOn {
    background-color: rgb(235, 224, 224);
    height: 450px;
    width: 800px;
    margin-left: 20%;
    margin-top: 3rem;
    border: 20px solid black;
    /* background: url(/assets/Images/vue.jpeg); */
    background-repeat: no-repeat;
    align-items: center;
    
}
.tvOff {
    background-color: rgb(46, 45, 45);
    height: 450px;
    width: 800px;
    margin-left: 20%;
    margin-top: 3rem;
    border: 20px solid black;
    
}
.btnoff {
    background-color: red; 
    border: none;
    height: 16px;
    width: 24px;
    border-radius: 45%;
    margin-left: 47%;
    float: right;
    margin-top: 28.2rem
}
.btnon {
    background-color: rgb(145, 255, 0);
    color: aliceblue;
    border: none;
    height: 16px;
    width: 24px;
    border-radius: 45%;
    margin-left: 47%;
    float: right;
    margin-top: 28.2rem
}
#tvText {
    color: rgb(231, 72, 9);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 74px;
    font-family: monospace;
    margin-left: 12rem;
    margin-top: 20%;
    animation-duration: 2s;
}
