body {
    background-color: black;
}

.bulbOn {
    background-color: black;
    height: 400px;
    width: 400px;
    margin-left: 35%;
    margin-top: 5rem;
    
}
.bulbOff {
    background-color: black;
    height: 400px;
    position: relative;
    margin-left: 35%;
    margin-top: 5rem;
} 
button {
    background-color: red;
    color: aliceblue;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-left: 47%;
}

